input:focus {
    border-color: green;
}

.home {
    height: 92.5vh;
    width: 100vw;
    background: linear-gradient(to right,
            #e0f5ec 0%,
            #b6ecd6 50%,
            #F1F9F9 50%,
            #F1F9F9 100%);
}

.home-div {
    backdrop-filter: blur(5px);
}